packages:
  yum:
    lzop: []

  python:
    awscli: []

container_commands:

  1-add cron configuration file:
    command: cp .ebextensions/cron.logrotate.conf /etc/cron.hourly/

  2-apply correct permissions:
    command: chmod +x /etc/cron.hourly/cron.logrotate.conf

  3-add logrotate configuration:
    command: cp .ebextensions/logrotate.conf /etc/

  4-add upload script:
    command: cp .ebextensions/upload_log_to_s3.sh /etc/

  5-apply executable permissions to upload file:
    command: chmod +x /etc/upload_log_to_s3.sh

  6-create rotated folder for storing rotated files:
    command: mkdir -p /var/log/tomcat8/rotated

  7-remove EB rotation:
    command: rm -rf /etc/cron.hourly/cron.logrotate.elasticbeanstalk.tomcat8.conf

  8-remove EB logs publishing:
    command: rm -rf /etc/cron.d/publishlogs
